

@import url("https://fonts.googleapis.com/css2?family=Gabriela&display=swap");

* {
    margin: 0;
    padding: 0;
    transition: all 400ms ease;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 480px;
    background: #1e1e1e;
    padding: 10px 20px;
    gap: 20px;
    color: white;
    font-family: "Gabriela", serif;

}

.popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 480px;
    background: #1e1e1e;
    padding: 10px 20px;
    gap: 20px;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.top-left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logo {
    background: #ee4f60;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background-image: url(/SimpleL.png);
    background-repeat: no-repeat;
    background-size: contain;
}


.title {
    font-size: 28px;
}

.top-right {}

.github {
    border: 2px solid #ee4f60;
    background: white;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    font-size: 30px;
    background-image: url(/github.svg);
    background-repeat: no-repeat;
    background-size: cover;
}


button {
    width: 180px;
    height: 50px;
    border-radius: 48px;
    border: 2px solid #fff;
    background: linear-gradient(209deg, #d6771f 0%, #ee4f60 50%, #0b9ba4 100%);
    transition: all 400ms ease;
    color: white;
    font-size: 19px;
    font-family: "Gabriela", serif;
}

button:hover {
    box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.41);
}

.bottom-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.main-action-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.mng-vault {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.vlt-mgmt-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}

.create-vault-container {}

.edit-vault-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.edit-left {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

label {
    padding: 5px;
    padding-right: 20px;
    font-size: large;
}
.border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 50px;
    border-radius: 48px;
    background: linear-gradient(209deg, #d6771f 0%, #ee4f60 50%, #0b9ba4 100%);
  }
select {
    width: 98%;
    height: 46px;
    border-radius: 48px;
    border: 0px solid;
    background: black;
    color: white;
    font-size: 16px;
    font-family: "Gabriela", serif;
    padding: 10px;
}

select:focus {
    outline: none;
}

option {
    background: black;
    color: white;
    font-size: 16px;
    font-family: "Gabriela", serif;
    padding: 0px;
}

.edit-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

.line {
    margin-top: 20px;
    width: 20%;
    height: 2px;
    background: white;
    display: flex;
}

.quote {
    font-size: 13px;
    letter-spacing: 2px;
    opacity: 0.7;
}